<br>
<hr>
<div id="footer">
    <div id="mid">
        <img src="../images/baazarrr-logos_transparent.png" alt="">
    </div>
    <div id="socials">
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <a href="https://www.instagram.com/__.prateek.___/"><i class="ri-instagram-fill"></i></a>
        <a href="#"><i class="ri-twitter-fill"></i></a>
    </div>
    <div id="bottom">
        <div class="btm-top">
            <a href="#">Condition of Use & Sale</a>
            <a href="#">Private Notice</a>
        </div>
        <div class="btm-btm">
            <p>&#169; 2022-2022, Bazarrr.com, Inc. or its affiliates</p>
        </div>
    </div>
</div>