<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Name | Baazarrr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/productdets.css">
</head>
<body>
    <div id="main">
        <%- include('./partials/header')%>
        <div id="product">
            <div id="left">
                <div id="imgContainer">
                    <img src="https://images.unsplash.com/photo-1664542497982-d864be07cc63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <span>
                    <a href=/addtocart/<%=product._id%>><div id="addToCart" class="btn btn-info">Add to cart <i class="ri-shopping-cart-2-line"></i></div></a>
                    <div class="btn btn-warning mt-3">Buy now</div>
                </span>
            </div>
            <div id="right">
                
            </div>
        </div>
        <%- include('./partials/footer')%>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>
</html>