*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    position: relative;
    width: 100%;
    background-color: #F7CEB6;
}
#navigationbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #495FA6 ;
    padding: 25px 40px;
    z-index: 99;
    border-bottom: 2px solid #313f6d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.logo{
    width: 170px;
}
.logo img{
    width: 100%;
}
#searchbar{
    width: 40%;
    height: 35px;
}
#searchbar input{
    border-radius: 5px;
    width: 100%;
    height: 35px;
    outline: none;
    font-size: 20px;
    padding: 10px;
}
#searchbar input:hover{
    background-color: rgb(229, 229, 229);
}
#profile,#cart{
    font-size: 22px;
    font-weight: 600;
}
#profile a,#cart a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#profile a:hover, #cart a:hover{
    color: #000;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid #F6AE84;
    border-radius: 50%;
    font-size: 17px;
}

#socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 27px;
    width: 100%;
    height: 10%;
}
#socials a{
    color: #F6AE84;
    text-decoration: none;
}
#bottom{
    width: 100%;
    height: 20%;
    margin-top: 20px;
}
.btm-top,.btm-btm{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 600;
}
.btm-top a,.btm-btm{
    color: #F6AE84;
    text-decoration: none
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 600;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#mid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% auto;
    width: 400px;
    height: 200px;
}
#mid img{
    width: 100%;
}
#footer{
    width: 100%;
    height: 60vh;
    background-color: #1c3480;
    margin-top: 3%;
}
#top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #495FA6;
    color: #fff;
    font-weight: 600;
}
#top a{
    color: #fff;
    text-decoration: none;
}
#product{
    display: flex;
    height: 120vh;
}
#left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#right{
    width: 50%;
    height: 100%;
}
#imgContainer{
    height: 60%;
    border-radius: 10px;
    overflow: hidden;
}
#imgContainer img{
    height: 100%;
}